:root {
  --xxl: clamp(2.625rem, 2.6rem + 3vw, 4.375rem);
  --xl: clamp(2.1875rem, 1.74rem + 1.99vw, 3.125rem);
  --l: clamp(1.875rem, 1.45rem + 2.29vw, 2.5rem);
  --m: clamp(1.625rem, 1.3rem + 1.8vw, 2rem);
  --sm: clamp(1.25rem, 1rem + 1.47vw, 1.625rem);
  --xsm: clamp(1rem, 0.6rem + 1.42vw, 1.375rem);
}

h2 {
  font-size: var(--xsm);
  letter-spacing: 0.05em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
