.container {
  min-height: 100vh;
  /* padding: 0 0.5rem; */
  /* padding: 0rem 8% 0 8%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
}

/* Probremas con varios tamaños de card */

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.quiz_main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.quiz_title {
  margin: 0;
  line-height: 1.15;
  font-size: var(--xl);
  letter-spacing: 0.05em;
  padding: 0 15%;
  text-align: center;
}

.quiz_title_card {
  padding: 8rem 15% 2rem 15%;
  margin: 0;
  line-height: 1.15;
  font-size: var(--l);
  letter-spacing: 0.05em;
  /* padding: 0 15%; */
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: grid;
  width: 100%;
  padding: 0 12%;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 2rem;
  margin-top: 3rem;
  justify-items: center;
}

.grid_start {
  display: grid;
  width: 100%;
  padding: 0 12%;
  gap: 2rem;
  margin-top: 3rem;
  justify-items: center;
}
@media (max-width: 768px) {
  .grid {
    padding: 0 10px;
  }
  .grid_start {
    padding: 0 10px;
  }
  .grid_start {
    padding: 0 10px;
  }

  .quiz_title {
    padding: 0;
  }

  .container {
    padding: 0rem 0% 0 0%;
    height: auto;
  }

  .quiz_title_card {
    padding: 10rem 16px 2rem 16px;
  }

  .quiz_timer {
    right: 10px !important;
  }
  .currentQuestion {
    left: 10px !important;
  }
  .backToHome {
    left: 10px !important;
  }
}

.quiz_grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  align-items: center;
  justify-content: center;
  padding: 0 12%;
  /* flex-wrap: wrap; */
  gap: 2rem;
  width: 100%;
  /* max-width: 1200px; */
  /* max-width: 800px; */
  margin: 3rem 0 3rem 0;
}

.card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  /* width: 45%; */
}
.quiz_card {
  /* margin: 1rem; */
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  height: -webkit-fill-available;
  background: #fff;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: auto;
  width: 100%;
  /* min-width: 300px; */
}

.quiz_card{
  overflow-wrap: break-word;
}

.start {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 220px;
  text-align: center;
  /* width: 45%; */
}

.quiz_card:hover, .start:hover, .card:hover,
/* .quiz_card:focus, .start:focus, .card:focus, */
.quiz_card:active, .start:active, .card:active {
  color: #0070f3;
  border-color: #0070f3;
}
.quiz_timer, .currentQuestion {
  position: absolute;
  top: 20px;
  right: 80px;
  font-size: 25px;
}
.currentQuestion {
  position: absolute;
  top: 20px;
  left: 80px;
  font-size: 25px;
}
.backToHome {
  position: absolute;
  top: 50px;
  left: 80px;
  font-size: 25px;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


.Answer_Change{
  transition: linear 0.5s;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #FFFFFF;
  height:100%;

  /* min-height: 100vh; */
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 470px) {
  .quiz_title_card {
    font-size: 1.9rem;
    padding: 6rem 16px 1rem 16px;
  }

  .quiz_card {
    /* margin: 1rem; */
    padding: 0.9rem;
    
  }

  .quiz_grid {
    gap: 1rem;
    margin: 2rem 0;
  }
}
